* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 15px auto;
}

.card {
    display: flex;
    margin-bottom: 15px;
}

.left {
    flex-basis: 30%;
    display: flex;
}

.left img {
    width: 100%;
    object-fit: cover;
}

.right {
    flex-basis: 70%;
    padding: 15px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 4px #f1f2f4;
}

.right * {
    margin-bottom: 20px;
}

.right h3 {
    color: #282828;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
}

.right p {
    color: #918c8c;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.right button {
    padding: 15px 25px;
    background-color: #167AF6;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: .3s;
}

.right button:hover{
    background-color: #0363d9;
}